 <carousel>
    <slide *ngFor="let photo of house.photos">
        <div class="text-center py-5 bg-dark text-white">
            <div class="lead">
                <img [src]="photo" class="image">
            </div>
        </div>
    </slide>
</carousel>

<div class="row">
    <p class="card-text description">{{house.description}}</p>
</div>
<div class="row">
    <strong>Amenities: </strong>
    <div *ngFor="let amenity of house.amenities">
        <p>{{amenity}}, </p>
    </div>
</div>

<!-- PORQUE PONGO ? ????? -->
<div class="row">
    <div *ngIf="house.owner?.id !== session.user?.id" class="col-lg-4 col-md-6 col-sm-12">
        <form (ngSubmit)="onSubmitBooking(formBooking)" #formBooking="ngForm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="text" class="form-control"  placeholder="From" name="start" [ngClass]="{ 'is-invalid': apiError }" [(ngModel)]="booking.start"  #start="ngModel"  ngbDatepicker  #d="ngbDatepicker"  (click)="d.toggle()"  required>  
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="To" name="end" [ngClass]="{'is-invalid': apiError }"[(ngModel)]="booking.end" #end="ngModel" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" required>
            </div>  
            <div style="color: red;" *ngIf="apiError">
                <small>{{apiError.message}}</small>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!formBooking.valid">Book it!</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="house.location">
    <agm-map [zoom]="15" [longitude]="house.location[0]" [latitude]="house.location[1]">
        <agm-marker [longitude]="house.location[0]" [latitude]="house.location[1]"></agm-marker>
    </agm-map>
</div> 

